body {
    font-family: Arial, sans-serif;
    background-color: #fff; 
    margin: 0;
}

#content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#content {
    max-width: 700px;
    width: 90%;
    padding: 20px;
    text-align: center;
    background: linear-gradient(150deg, #23EC8C 14.75%, rgba(219, 0, 255, 0.75) 79.89%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 60px;
}

button {
    padding: 8px 16px;
    background-color: #f26ef9;
    color: #fff;
    border: none;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    border-radius: 60px;
}

button:hover {
    background-color: #9c2fad;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 8px;
}

li.completed {
    background-color: #fbd2ff;
    text-decoration: line-through;
}

.task-checkbox {
    margin-right: 8px;
}

.delete-task {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-task:hover {
    background-color: #d32f2f;
}